.upper_footer
    background-color dark
    padding 35px 0
    .container
        overflow hidden
        .left
        .right
            height  35px

.subscribe
    overflow hidden
    input[type=text]
        background-color lightGrey
        color #7d7d7d
        font-size 12px
        border 0
        height 35px
        width 215px
        padding 0 10px
        float left
        transition all .4s ease
        &:focus
            color white
            transition all .4s ease
    input[type=image]
        background-color #7E7E7E
        padding 12px

.soc_buttons
    display inline-block
    background-color lightGrey
    color #7d7d7d
    height 35px
    width 35px
    text-align center
    margin-right 10px
    transition all .4s ease
    &:hover
        background-color green
        transition all .4s ease
        color white
    &:last-child
        margin-right 0
    .fa
        padding-top 10px

.lower_footer
    background-color lightGrey
    overflow hidden
    .right
    .left
        padding 20px 0
    .left
        p
            font-size 12px
            color #868686


.footer_menu
    li
        height 15px
        &:first-child
            border 0
            &:before
                content: ''
        &:before
            content: '/'
            color #868686
            font-size 12px

        a
            font-size 12px
            color #868686
            border 0
            padding 0 5px
            &:hover
                background-color inherit
