.main
    height 460px
    background-color pink

    .container
        background-image url("../img/main.png")
        background-repeat no-repeat
        background-position -230px 0
        overflow hidden
        background-size cover
        height inherit

.main_right
    text-align left
    width 45.6%
    float right

.price
    background-color green
    color white
    height 67px
    width 68px
    font-size 13px
    font-weight bold
    text-align center
    margin-top 70px
    p
        padding-top 37%

h1
    font-size 37px 
    font-weight normal
    margin-top 14px
    margin-bottom 6px
    line-height 40px
    color #242424

h2
    font-size 18px
    font-weight normal
    line-height 25px
    color #242424
    width 84%
    margin-bottom 15px

.buttons
    overflow hidden
    li
        display inline-block
        float left
        margin-right 2px
        a
            display inline-block
            width 40px
            height 40px
            background-color #F9F9F8
            color grey
            text-align center
            padding-top 9px
            font-size 16px
            transition all .6s ease
            &:hover
                color green
                transition all .6s ease