green = #00C6A0
grey = #747474
dark = #1F1F1F
pink = #EDE8DF


*
    margin 0
    padding 0
    box-sizing border-box
    outline none

body
    font-family: Arial, Helvetica, sans-serif

a
    text-decoration none
    color #999

li
    list-style none

.right
    float right

.left
    float left

.clf
    clear both

.container
    width 940px
    margin 0 auto

.active
    color green !important

@import 'header'
@import 'main'
@import 'special'