.lower_footer
    .container
        .left
            p Все права защищены &copy; Fooseshoes 2017
        .right
            nav.footer_menu
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Поддержка
                    li
                        a(href="#") Политика
                    li
                        a(href="#") Faq
                    li
                        a(href="#") Контакты