include pug/_mixins
<!DOCTYPE html>
html(lang="ru-RU")
    include pug/head
    body
        include pug/header/header
        include pug/main
        include pug/special
        include pug/footer/footer
        include pug/style_and_scripts