section.main
    .container
        .main_right
            .price 
                p $145,99
            h1 Розовые туфли Коллекция 2017
            h2 Nunc non fermentum nunc. Sed ut ante eget leo tempor consequat sit amet eu orci. Donec dignissim dolor eget..
            ul.buttons
                li
                    a(href="#")
                        i.fa.fa-eye(aria-hidden="true")
                li
                    a(href="#")
                        i.fa.fa-star-o(aria-hidden="true")
                li
                    a(href="#")
                        i.fa.fa-external-link(aria-hidden="true")
                li
                    a(href="#")(class="active")
                        i.fa.fa-cart-arrow-down(aria-hidden="true")