section.special
    .container
        .spec_divs
            a(href="#")
                p Распродажа
            a(href="#")
                p Специальные предложения
            a(href="#")
                p Must have