section.store
    .container
        h3 Наши новинки
        .row
            .col3
                a(href="#")
                    img(src="img/shoes_1.jpg", alt="Товар 1")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Buffalo Decolette
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
            .col3
                a(href="#")
                    img(src="img/shoes_2.jpg", alt="Товар 2")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Buffalo Decolette
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
            .col3
                a(href="#")
                    img(src="img/shoes_3.jpg", alt="Товар 3")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Buffalo Decolette
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
        .row
            .col3
                a(href="#")
                    img(src="img/shoes_4.jpg", alt="Товар 4")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Even&Odd
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
            .col3
                a(href="#")
                    img(src="img/shoes_5.jpg", alt="Товар 5")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Even&Odd
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
            .col3
                a(href="#")
                    img(src="img/shoes_6.jpg", alt="Товар 6")
                    .price 
                        p $149.99
                .store_row
                    h4.good_name Even&Odd
                    a(href="#")
                        i.fa.fa-eye
                    a(href="#")
                        i.fa.fa-star-o
                    a(href="#")
                        i.fa.fa-external-link
                    a(href="#")
                        i.fa.fa-shopping-cart
        hr#hr
        .row
            .col2
                h4 Отзывы
                p Vel, vulputate vel nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec erat sem, vehicula id dictum sit
                cite Маша Иванова
            .col2
                h4 Новости
                .row
                    a(href="#")
                        .date Апр
                            br/ 01
                        .news_text
                            h5 Nice & clean. The best for you blog!
                            p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh
                .row
                    a(href="#")
                        .date Апр
                            br/ 01
                        .news_text
                            h5 What anEccomerce theme!
                            p Vivamus metus turpis, bibendum vitae euismod vel, vulputate vel nibh