.upper_header
    .container
        .logo.left
            a(href="/")
                img(src="img/logo.png", alt="Логотип")
        .login_and_search.right
            .search
                form(action="#" method="")
                    input(type="text")
                    input(type="image" src="img/Search Icon.png")
            .login
                +link('#', 'Войти или зарегистрироваться')