.lower_header
    .container
        nav.menu.left
            ul
                li
                    a(href="#") Главная
                li
                    a(href="#") Продукты
                li
                    a(href="#") О нас
                li
                    a(href="#") Оплата
                        br/  и
                        br/  доставка
                li
                    a(href="#") Акции
                li
                    a(href="#") Блог
                li
                    a(href="#") Контакты
        .right
            ul
                li.like
                    a(href="#")
                                i.fa.fa-star-o(aria-hidden="true")
                                span.like_number 24
                li.cart
                    a(href="#")
                                i.fa.fa-shopping-cart(aria-hidden="true")
                                span.cart_number 10